.inv-container{
    margin-left: 5px; font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    display:grid; width: 100%; height: 85vh;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-gap: 5px;
    grid-template-areas: 
    "top-left top-left top-right"
    "middle-left middle-left top-right"
    "middle-left middle-left bottom-right"
    "bottom-left bottom-middle bottom-right";
}
.inv-container>div{
    border:1px solid #eee;border-radius: 10px;
    overflow: scroll;
}
.top-left{grid-area: top-left;
    width:100%; display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "top-left-top top-left-top top-left-top top-left-top"
    "top-left-middle1 top-left-middle2 top-left-middle3 top-left-middle4"}
.tlt{grid-area: top-left-top;margin:0px 5px;}
.tlt button{margin:0px 5px;}
.tlm1{grid-area: top-left-middle1;line-height:0.8em;margin: 5px 0px 0px 5px;}
.tlm2{grid-area: top-left-middle2;line-height:0.8em;margin: 5px 0px 0px 5px;}
.tlm3{grid-area: top-left-middle3;line-height:0.8em;margin: 5px 0px 0px 5px;}
.tlm4{grid-area: top-left-middle4;line-height:0.8em;margin: 5px 0px 0px 5px;}
.top-right{grid-area: top-right;}
.middle-left{grid-area: middle-left;}
.bottom-left{grid-area: bottom-left;}
.bottom-middle{grid-area: bottom-middle;}
.bottom-right{grid-area: bottom-right;}