<button class="btn btn-primary btn-sm pull-right" [routerLink]="['/']" routerLinkActive="router-link-active">Return Home</button>
<div class="clearfix"></div>
<div  *ngIf="id != 23">
    <div *ngFor="let task of tasks">
      <div class="col-sm-12">
        <h1>{{task.task_title}}</h1>
        <p>{{task.comment}}</p>
        <h4>Process Steps</h4>
        <pre class="bg-warning" *ngIf=" messageShow != 0 ">{{messageText}}</pre>
      </div>
      <div class="row" *ngFor="let tp of task.process">
        <div class="col-sm-5">
          <p>{{tp.task_detail}}</p>
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var1_active==1" type="text" class="form-control" placeholder="{{tp.var1_description}}" [(ngModel)]="var1">
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var2_active==1" type="text" class="form-control" placeholder="Variable 2" [(ngModel)]="var2">
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var3_active==1" type="text" class="form-control" placeholder="Variable 3" [(ngModel)]="var3">
        </div>
        <div class="col-sm-1">
          <button *ngIf="tp.process_link!=null" class="btn btn-primary" (click)="startProcess(tp)">Run</button>
        </div>
      </div>
    </div>
</div>
<div class="row" *ngIf="id==23">
  <div class="col-sm-8">

  </div>
  <div class="col-sm-4">
    <h3>Open Invoices</h3>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Inv. No.</th>
          <th>Inv. Date</th>
          <th>Value (&pound;)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o_inv of open_invoices">
          <td>{{o_inv.invoice_number}}</td>
          <td>{{o_inv.invoice_date}}</td>
          <td class="text-right">{{o_inv.invoice_value}}</td>
        </tr>
      </tbody>
    </table>
    <h3>Closed Invoices</h3>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Inv. No.</th>
          <th>Inv. Date</th>
          <th>Value (&pound;)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c_inv of closed_invoices">
            <td>{{c_inv.invoice_number}}</td>
            <td>{{c_inv.invoice_date}}</td>
            <td class="text-right">{{c_inv.invoice_value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

