<button class="btn btn-primary btn-sm pull-right" [routerLink]="['/']" routerLinkActive="router-link-active">Return Home</button>
<div class="clearfix"></div>
<div  *ngIf="id != 23">
    <div *ngFor="let task of tasks">
      <div class="col-sm-12">
        <h1>{{task.task_title}}</h1>
        <p>{{task.comment}}</p>
        <h4>Process Steps</h4>
        <pre class="bg-warning" *ngIf=" messageShow != 0 ">{{messageText}}</pre>
      </div>
      <div class="row" *ngFor="let tp of task.process">
        <div class="col-sm-5">
          <p>{{tp.task_detail}}</p>
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var1_active==1" type="text" class="form-control" placeholder="{{tp.var1_description}}" [(ngModel)]="var1">
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var2_active==1" type="text" class="form-control" placeholder="Variable 2" [(ngModel)]="var2">
        </div>
        <div class="col-sm-2">
          <input *ngIf="tp.var3_active==1" type="text" class="form-control" placeholder="Variable 3" [(ngModel)]="var3">
        </div>
        <div class="col-sm-1">
          <button *ngIf="tp.process_link!=null" class="btn btn-primary" (click)="startProcess(tp)">Run</button>
        </div>
      </div>
    </div>
</div>
<div class="row" *ngIf="id==23">
  <div class="col-sm-9">
    <table class="table" *ngIf="inv_status==1">
      <thead>
        <tr>
          <td colspan="2">
            <button class="btn btn-default pull-right">Validate</button>
          </td>
          <td colspan="3">
            <button class="btn btn-default pull-right">Raise Dispute</button>
          </td>
          <td colspan="3">
            <button class="btn btn-default pull-right">Get Approval Text</button>
          </td>
          <td colspan="3">
            <button class="btn btn-default">Close</button>
            <button class="btn btn-success pull-right" (click)="saveInvoice()">Save</button>
          </td>
        </tr>
        <tr>
          <td>Invoice #</td>
          <td>Vendor</td>
          <td>Account #</td>
          <td>Barcode</td>
          <td>Invoice Date</td>
          <td>Invoice Value</td>
          <td>Dr Note</td>
          <td>Dr</td>
          <td>Cr Note</td>
          <td>Cr</td>
          <td width="30%">Comment</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{invoice_number}}</td>
          <td>{{vendor_name}}</td>
          <td>{{account_number}}</td>
          <td>{{barcode}}</td>
          <td>{{invoice_date}}</td>
          <td>{{invoice_value}}</td>
          <td>{{debit_number}}</td>
          <td>{{debit_value}}</td>
          <td>{{credit_number}}</td>
          <td>{{credit_value}}</td>
          <td><textarea rows="4" class="form-control" [(ngModel)]="comment"></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h3>Open Invoices</h3>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Inv. No.</th>
          <th>Inv. Date</th>
          <th>Value (&pound;)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o_inv of open_invoices" (click)="showInvoice(o_inv)">
          <td>{{o_inv.invoice_number}}</td>
          <td>{{o_inv.invoice_date}}</td>
          <td class="text-right">{{o_inv.invoice_value}}</td>
        </tr>
      </tbody>
    </table>
    <h3>Closed Invoices</h3>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Inv. No.</th>
          <th>Inv. Date</th>
          <th>Value (&pound;)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c_inv of closed_invoices">
            <td>{{c_inv.invoice_number}}</td>
            <td>{{c_inv.invoice_date}}</td>
            <td class="text-right">{{c_inv.invoice_value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

