<div class="row">
  <div class="col-sm-8" *ngIf="categories!=undefined">
      <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Parent Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories" (click)="editCategory(category)">
              <td>{{category.ddc_category_id}}</td>
              <td>{{category.title}}</td>
              <td>{{category.description}}</td>
              <td>{{category.parent_title}}</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-sm-4">
    <h3>Manage Categories</h3>
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" readonly="true" placeholder="ID" [(ngModel)]="cat_id">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input name="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
      </div>
      <div class="input-group input-group-sm mb-3">
        <textarea class="form-control" rows="5" placeholder="Description" [(ngModel)]="description"></textarea>
      </div>
      <div class="input-group input-group-sm mb-3">
        <select class="form-control" [(ngModel)]="parent_id">
          <option value="0">- parent category -</option>
          <option *ngFor="let cat of cats" value="{{cat.cat_id}}">{{cat.title}}</option>
        </select>
      </div>
      <button *ngIf="cat_id != null" class="btn btn-danger link" (click)="deleteCat()">Delete</button>
      <button class="btn btn-success link pull-right" (click)="save()">Save</button>
  </div>
  <div class="clearfix"></div>
</div>