<div class="row">
  <div class="col-sm-8" *ngIf="categories!=undefined">
      <p *ngFor="let category of categories">{{category.about}}</p>
  </div>
  <div class="col-sm-4">
    <h3>Manage Categories</h3>
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" readonly="true" placeholder="ID" [(ngModel)]="cat_id">
      </div>
      <div class="input-group input-group-sm mb-3">
        <input name="title" type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
      </div>
      <div class="input-group input-group-sm mb-3">
        <textarea class="form-control" rows="5" placeholder="Description" [(ngModel)]="description"></textarea>
      </div>
      <div class="input-group input-group-sm mb-3">
        <select class="form-control" [(ngModel)]="parent_id">
          <option value="0">- parent task -</option>
        </select>
      </div>
      <button class="btn btn-success link" (click)="save()">Save</button>
  </div>
  <div class="clearfix"></div>
</div>