/* You can add global styles to this file, and also import other style files */
html{font-size: 0.9em;}
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
.header{margin:0;background: #1535c7;width:100%;text-align: center;padding: 20px 30px;color:#fff;}
.link{cursor:pointer;}
.pull-right{float: right;}
.btn.btn-default{border: 1px solid #cbcbcb;background-color:#ccc;}
.formItem{float:left;}
.formItem input{width:60px;margin-right: 5px;}
