<div class="row">
  <div class="col-sm-3">
    <p><b>Task:</b> {{tsk?.task_title}}</p>
    <p><b>User:</b> {{tsk?.user_id}}</p>
  </div>
  <div class="col-sm-1">
    <div class="input-group input-group-sm mb-3">
      <label>Act Qty</label>
      <input type="text" class="form-control" [(ngModel)]="action_qty">
    </div>
  </div>
  <div class="col-sm-6">
      <p><b>Comment:</b> {{tsk?.comment}}</p>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-8">
    <h3>Tasks #TODO</h3>
    <table class="table">
      <thead>
        <tr style="font-size:0.9em">
          <th>ID</th>
          <th>Task</th>
          <th>Planned Time (Min)</th>
          <th>Planned Start</th>
          <th>Priority</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tp of taskplans" (click)="getTask(tp)">
          <td>{{tp.ddc_tp_id}}</td>
          <td>{{tp.task_title}}</td>
          <td>{{ (tp.planned_time/60) | number: '1.0-1'}}</td>
          <td>{{tp.planned_date.split(" ")[1]}}</td>
          <td>{{tp.priority}}</td>
          <td>
            <span *ngIf="tp.start_time!=null">{{tp.start_time*1000 | date: 'HH:mm:ss'}}</span>
            <button *ngIf="tp.start_time==null" class="btn btn-success" (click)="actionTask(tp.ddc_tp_id,'start',tp.task_id)">Start</button>
          </td>
          <td><button class="btn btn-danger" (click)="actionTask(tp.ddc_tp_id,'stop',tp.task_id)">Stop</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <p *ngIf="show_process == 0"><button class="btn btn-primary btn-sm" (click)="toggleProcess()">Show Process Description</button></p>
    <p *ngIf="show_process == 1"><button class="btn btn-default btn-sm" (click)="toggleProcess()">Hide Process Description</button></p>
    <table class="table table-condensed table-sm" style="font-size:0.9em" *ngIf="show_process == 1">
      <thead>
        <tr style="font-size:0.9em">
          <th width="20%">Process Step</th>
          <th>Process Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tpd of taskpds">
          <td class="text-center">{{tpd.task_step}}</td>
          <td>{{tpd.task_detail}}</td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="show_process == 0">Tasks Carried Out</h3>
    <table *ngIf="show_process == 0" style="font-size:0.8em" class="table table-condensed table-sm">
      <thead>
        <tr>
          <th class="text-left" width="45%">Title</th>
          <th class="text-center" width="25%">Start Time</th>
          <th class="text-center" width="30%">Process Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tskp of tskplans">
          <td>{{tskp.task_title}}</td>
          <td class="text-center">{{tskp.start_time*1000 | date: 'HH:mm:ss'}}</td>
          <td class="text-center">{{ (tskp.finish_time-tskp.start_time)/60 | number: '1.0-1' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
